# Assignment_4 Solutions

### 1. What exactly is [ ]?
Ans: `[]` represents an empty list.

### 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

Ans: List follows zero based indexing, So to add the value "hello" as the third value we need to modify at ind2x 2 in the spam list.           
`spam[2]= "hello" `

In [1]:
# example
spam=[2,4,6,8,10]
print(spam)
spam[2]='hello'
print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]

## Let's pretend the spam includes the list ['a','b','c',d'] for the next three queries.

In [2]:
spam=['a','b','c','d']
spam

['a', 'b', 'c', 'd']

## 3. What is the value of spam[int(int('3'*2)//11)] ?
Ans: `'d'`                                                             
'3'*2 will give '33' as string data type                              
int('33')=33 will convert the string to integer data type             
now 33/11=3.0                                                        
int(3.0)=3                                                            
spam[3] will give value at index 3 in the spam is 'd'

In [3]:
#Example
spam[int(int('3'*2)//11)]

'd'

### 4. What is the value of spam[-1]?
Ans:`d`                                                               
List supports -ve indexing, Hence `spam[-11]` will return `d`

In [4]:
#example
spam[-1]

'd'

### 5. What is the value of spam[:2]?
Ans:`['a','b']`                                                       
`spam[:2]` will return all elements in the spam list from 0 to 2 index but excluding 2, Hence `['a','b']`

In [5]:
spam[:2]

['a', 'b']

## Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [6]:
bacon=[3.14, 'cat', 11, 'cat', True]

### 6. What is the value of bacon.index('cat')?
Ans: `1`                                                              
It will give the index of the first occurance of the 'cat' value in the bacon list, So `1`.

In [7]:
bacon.index('cat')

1

### 7. How does bacon.append(99) change the look of the list value in bacon?
Ans:It will append the value '99' at the end the list bacon           
`[3.14,'cat', 11, 'cat', True]`

In [8]:
#Example
print(bacon)
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True]
[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove('cat') change the look of the list in bacon?
Ans: It will remove the first occurance of value 'cat' in the bacon list.                                                 
`[3.14, 11, 'cat', True, 99]`

In [9]:
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?
Ans: The operator for list concatenation is `+` and list replication is `*`.

### 10. What is difference between the list methods append() and insert()?
Ans:                                                                                                                       
`append()`:append method appends the given object at the end of the list.                                                  
`insert()`:insert method takes two argument index at which the object needs to be append and the object to insert.

In [10]:
#Example
list1 = [1,2,3,4]
list1.append(5)
print(list1)
list1.insert(3,'pal')
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 'pal', 4, 5]

### 11. What are the two methods for removing items from a list?
Ans: Two methods used for removing items from a list are:                                                                   
`List.remove(object)`: Removes the first occurrence of the given object from the list                                       
`List.pop(index = -1)` : Removes and returns item at the index (default is -1, the last element)

In [11]:
#Example
list1=[2,4,6,8,2]
list1.remove(2)
print(list1)
list1.pop()
print(list1)

[4, 6, 8, 2]
[4, 6, 8]

### 12. Describe how list values and string values are identical.
Ans: While list is a collection of values in Python, string is a collection of characters. Both list and strings are iterable in Python and a `for` loop can be used around a list or string object to iterate through each element in the list/string and both can be passed to `len()` function.

### 13. What's the difference between tuples and lists?
Tuples are `immutable` where as lists in Python are `mutable`. So once created, the items inside a tuple cannot be changed.

### 14. How do you type a tuple value that only contains the integer 42?
Ans: It can can be written in either ways                                                                                  
    1.`t1= tuple([42])` `or`                                                                                               
    2. `t2=([42,])`

In [12]:
#Example
t1= tuple([42]) 
t2=(42,)
print(t1, type(t1))
print(t2, type(t2))

(42,) <class 'tuple'>
(42,) <class 'tuple'>

### 15. How do you get a list value's tuple form? How do you get a tuple value's list form?
Ans: The tuple() and list() functions, respectively are used to convert a list to tuple and vice versa

In [13]:
#Example
l=[1,2,3,4,5]
t=(6,7,8,9,10)
t1=tuple(l)
l1=list(t)
print(t1, type(t1))
print(l1, type(l1))

(1, 2, 3, 4, 5) <class 'tuple'>
[6, 7, 8, 9, 10] <class 'list'>

### 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
Ans: They contain references to the list values

In [14]:
var=['a','b','c',89, True]
print(var)
print(id(var)) #reference

['a', 'b', 'c', 89, True]
1995574273344

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?
Ans: 
- copy.copy() returns a shallow copy of list and copy.deepcopy() return a deep copy of list.
- deepcopy: In case of deep copy, a copy of object is copied in other object. It means that any changes made to a copy of object do not reflect in the original object.
- shallow copy: In case of shallow copy, a reference of object is copied in other object. It means that any changes made to a copy of object do reflect in the original object.